/*Cabeçario*/
#destaque {
  margin-top: 60px;
}

#parte_de_cima_destaque {
  display: flex;
  align-items: center; /* Garante que as imagens e o título estejam alinhados verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

#div_h1 {
  display: flex;
  justify-content: center; /* Centraliza o título horizontalmente */
  align-items: center; /* Garante que o título fique centralizado verticalmente */
  width: 200px; /* Define a largura da área do título para controle */
  margin: 0px 20px; /* Adiciona espaçamento entre as imagens e o título */
}

#nome_destaque {
  font-size: 70px;
  margin: 0;
}

/* Definir a primeira imagem (vem da esquerda) */
img.left {
  position: relative;
  left: -100%;
  opacity: 0;
  transition: all 1s ease-out;
}

/* Definir a segunda imagem (vem da direita) */
img.right {
  position: relative;
  right: -100%;
  opacity: 0;
  transition: all 1s ease-out;
}

/* Quando as imagens estiverem visíveis */
img.left.visible {
  left: 0;
  opacity: 1;
}

img.right.visible {
  right: 0;
  opacity: 1;
}

/* Adicionar o estilo de animação */
@keyframes slideInLeft {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

/*Conteudo*/

#conteudo_destaque{
  margin-top: 100px;
}

#container{
  display: flex;
  justify-content: space-around;
}

.container_imagem{
  display: flex;
  position: relative; /* Cria o contexto para o disco */
}

.imagem_destaque{
  width: 300px;
  border: 15px solid #7b7a7a;
  z-index: 1; /* Garante que a imagem destaque ficará em cima */
  margin-right: 120px;
}

.disco{
  position: absolute; /* Faz a imagem disco sair do fluxo normal */
  left: 15%; /* Move o disco para a metade da largura da imagem destaque */
  top: -24%; /* Alinha o disco ao meio */
  width: 450px; /* Tamanho do disco */
  z-index: 0; /* Coloca o disco atrás da imagem destaque */
  animation: girar 4s linear infinite;
}

@keyframes girar {
  0% {
    transform: rotate(0deg); /* No início a imagem está na posição original */
  }
  100% {
    transform: rotate(360deg); /* Ao final, a imagem completa uma rotação */
  }
}

/* Responsividade */
@media screen and (max-width: 768px) {

  /*Cabeçario*/
  #destaque{
    margin-top: 50px;
  }

  #parte_de_cima_destaque {
    flex-direction: column; /* Empilha as imagens e o título verticalmente */
    align-items: center; /* Centraliza as imagens e o título */
    text-align: center; /* Centraliza o texto */
  }

  img.left, img.right {
    max-width: 80%; /* Limita as imagens a 80% da largura da tela */
    margin-bottom: 10px; /* Espaço entre as imagens e o título */
  }

  #div_h1 {
    width: auto; /* Permite que o título tenha largura automática */
    font-size: 1.5rem; /* Ajuste de tamanho da fonte para telas pequenas */
    margin-top: 0px;
  }
}