/* === Reset de Estilos Globais === */

/* Remove margens e paddings padrão e define box-sizing para facilitar o layout */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte padrão */
}

/* Oculta a barra de rolagem no Chrome, Safari e navegadores baseados em WebKit */
body::-webkit-scrollbar {
    display: none;
}

/* === Estilização do Cabeçalho === */

header {
    background-color: #303030; /* Define um fundo escuro para o cabeçalho */
    height: 70px;
}

/* Organiza os elementos na parte superior do cabeçalho */
#parte_de_cima_cab {
    display: flex;
    justify-content: space-between; /* Distribui os itens igualmente */
}

/* Define a posição do logo dentro do cabeçalho */
#logo {
    margin: 15px 0 0 100px;
}

/* === Estilização da Seção de Login e Carrinho === */

/* Define a altura dos ícones de carrinho e perfil */
#Perfil {
    height: 40px;
}

/* Estilização da área de login e cadastro */
#login_cadastro {
    display: flex;
    font-size: 15px;
    margin: 15px 100px 0 0;
}

/* Estilização dos links de login e cadastro */
#p_cadastro_login, .a_cadastro_login {
    color: rgb(243, 243, 243); /* Define a cor do texto */
}

/* === Responsividade === */
@media only screen and (max-width: 650px) {
    /* Ajusta a margem do cabeçalho para melhor espaçamento em telas menores */
    #parte_de_cima_cab {
        margin: 0 20px;
    }
}
