*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

main{
    display: flex;
    justify-content: center
}

#cadastro{
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    width: 900px;
    height: 700px;
    margin-top: 40px;
}

#titulo{
    color: #595959;
    font-size: 80px;
    margin-left: 10px;
}

#p_titulo{
    color: #595959;
    margin: -10px 20px;
    font-size: 15px;
}

#link_login{
    color: #595959;
    font-weight: bold;
}

#link_login:hover{
    color: #abaaaa;
    transition: 0.2s;
}

#cima{
    display: flex;
}

#baixo{
    margin-left: 20px;
}

#lado{
    display: flex;
}

.separacao, .separacao2{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: 20px;
}

.separacao2{
    width: 310px;
}

#direita{
    margin-left: 50px;
}

#direita_baixo{
    margin-left: 90px;
}

.subtitulo{
    color: #5d5d5d;
    border-bottom: 2px dotted rgb(142, 142, 142);
}
#acesso{
    width: 210px;
}

#pessoais{
    width: 230px;
}

#endereco{
    margin-top: 20px;
    width: 750px;
}

#inputs{
    margin: 50px 30px;
}

.input, .input_baixo{
    background-color: transparent;
    margin: 15px 10px;
    border: none;
    border-bottom: 2px solid #7b7a7a; /* Apenas borda inferior */
    font-size: 20px;
}

.input_baixo{
    margin: 15px -10px;
}

.input:focus, .input_baixo:focus{
    outline: none;
}

#button{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 10px 0px;
    color: white; /* Cor do texto */
    background-color: #303030; /* Cor de fundo */
    font-size: 30px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
}

#button:hover{
    background-color: #abaaaa; /* Cor de fundo ao passar o mouse */
    color: #5d5d5d; /* Cor do texto ao passar o mouse */
    transition: 0.2s;
}

/* == Imagens laterais == */

#sumir_d, #sumir_e{
    display: none;
}

#imgs_direita {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: absolute; /* Garante que fique sobreposto */
    bottom: 0;
    right: 0;
    z-index: -1; /* Coloca atrás de outros elementos */
    width: 100%;
    height: 100%;
}

#imgs_esquerda{
    display: flex;
    flex-direction: column;
    position: absolute; /* Garante que fique sobreposto */
    bottom: 0;
    left: 0;
    z-index: -1; /* Coloca atrás de outros elementos */
    width: 100%;
    height: 100%;
}

.img_direita {
    width: 300px;
    margin-right: -200px;
}

.img_direita:not(:first-child) {
    margin-top: -5px;
}

.img_esquerda{
    width: 300px;
    margin-left: -200px;
    transform: scaleX(-1);
}


@media only screen and (max-width: 850px){
        #cadastro{
            width: 450px;
            height: 1120px;
        }

        #cima{
            display: block;
        }

        #direita{
            margin: 25px;
        }

        #endereco{
            width: 240px;
        }

        #lado{
            display: block;
        }

        #direita_baixo{
            margin-left: 20px;
        }

        #sumir_d, #sumir_e{
            display: block;
        }

}
