.link_produto, .link_produto2{
    text-decoration: none;
    color: #6d6d6d;
    width: 234px;
    height: 225px;
    margin-top: 50px;
    z-index: 1;
}

.link_produto2{
    height: 86px;
    margin-top: 20px;
    z-index: 1;
}

.produto:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.produto{
    border: 2px solid #404040;
    width: 200px;
    height: 300px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    z-index: 0;
}

.img_capa_cd{
    height: 180px;
}

.nome_cd, .valor{
    font-size: 25px;
    color: #686868;
}

.descricao, .promo{
    color: #6d6d6d;
    font-size: 15px;
}

.descricao{
    z-index: 3;
}

.artista{
    color: #6d6d6d;
    z-index: 3;
    position: relative;
}

.artista:hover{
    color: #303030;
}

.baixo_part{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.img_favorito{
    width: 50px;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: transform 0.2s ease-in-out;
}

.img_favorito:active {
    transform: scale(0.95); /* Efeito de clique */
}

