*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/* === Caminho === */

#caminho{
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 20px;
}

#home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
}

#img_home{
    width: 25px;
}

.seta{
    width: 20px;
}

.proxima_part{
    display: flex;
    align-items: center;
}

.link_caminho{
    color: #303030;
    text-decoration: none;
}
.link_caminho:hover{
    color: #7b7a7a;
}

/* === Conteudo === */

#meio{
    display: flex;
}

/* === Carrinho === */

#filtro{
    border: 2px solid #6d6d6d;
    padding: 20px;
    margin-left: 20px;
    background-color: #fff;
    height: min-content;
}

#titulo_filtro{
    font-size: 50px;
    color: #6d6d6d;
}

#linha{
    height: 2px;
    background-color: #7b7a7a;
    margin: 10px 0px;
}

.contener{
    display: none;
}

.part_cima{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.titulo{
    font-size: 30px;
    color: #6d6d6d;
}

.setas_filtro{
    width: 30px;
}

.itens{
    color: #5d5d5d;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.itens:hover{
    color: #7b7a7a;
}

/* Checkbox */

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: inline-block;
    width: 20px; /* Largura do quadrado */
    height: 20px; /* Altura do quadrado */
    background-color: #fff; /* Cor de fundo */
    border: 2px solid #5d5d5d; /* Borda do quadrado */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-right: 5px;
    position: relative;
}

input[type="checkbox"]:checked + label {
    background-color: #fff; /* Cor de fundo quando marcado */
    border-color: #fff; /* Cor da borda quando marcado */
}

input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 3px solid #1f1f1f;
    border-radius: 50%; /* Criar o círculo do CD */
    background-color: #fff;
    background-image: radial-gradient(circle, #5d5d5d 30%, #303030 40%);
    background-size: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra para dar destaque */
}

/* Efeito de hover */
input[type="checkbox"]:hover + label {
    background-color: #ecf0f1; /* Cor de fundo ao passar o mouse */
}

/* Estilização do input range  */

#preço{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#valor{
    margin-top: 5px;
    font-size: 20px;
}

#valor_input{
    margin: 0px 5px;
}

#valor_ponta{
    color: #5d5d5d;
}

input[type="range"] {
    -webkit-appearance: none; /* Remove o estilo padrão para navegadores WebKit (Chrome, Safari, etc.) */
    appearance: none; /* Remove o estilo padrão para Firefox */
    width: 200px; /* Define a largura do controle range para ocupar toda a largura do elemento pai */
    height: 8px; /* Define a altura do trilho */
    background: #ddd; /* Cor do fundo do trilho (cinza claro) */
    border-radius: 5px; /* Bordas arredondadas no trilho */
    outline: none; /* Remove o contorno que aparece quando o input está em foco */
    transition: 0.3s ease-in-out; /* Transição suave quando a cor do trilho muda */
}

/* Estilizando o trilho (track) no WebKit (Chrome, Safari, etc.) */
input[type="range"]::-webkit-slider-runnable-track {
    height: 8px; /* Altura do trilho */
    background: #ddd; /* Cor do trilho */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Estilizando o trilho (track) no Firefox */
input[type="range"]::-moz-range-track {
    height: 8px; /* Altura do trilho */
    background: #ddd; /* Cor do trilho */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Estilizando o trilho (track) no Internet Explorer */
input[type="range"]::-ms-track {
    height: 8px; /* Altura do trilho */
    background: #ddd; /* Cor do trilho */
    border-radius: 5px; /* Bordas arredondadas */
    border-color: transparent; /* Remove a borda padrão */
    border-width: 0; /* Remove a borda */
    color: transparent; /* Torna o texto invisível */
    /* Remove os padrões do track no Internet Explorer */
}

/* Estilizando o controle deslizante (thumb) no WebKit */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove o estilo padrão */
    appearance: none; /* Remove o estilo padrão */
    width: 20px; /* Largura do controle deslizante */
    height: 20px; /* Altura do controle deslizante */
    margin-top: -5px;
    border-radius: 50%; /* Faz o controle deslizante ser redondo */
    border: 3px solid #1f1f1f;
    background-image: radial-gradient(circle, #5d5d5d 30%, #303030 40%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra para dar destaque */
    cursor: pointer; /* Mostra o cursor de ponteiro para indicar que é interativo */
    transition:  0.3s ease-in-out; /* Transição suave quando a cor do thumb muda */
}

/* Estilizando o controle deslizante (thumb) no Firefox */
input[type="range"]::-moz-range-thumb {
    width: 20px; /* Largura do controle deslizante */
    height: 20px; /* Altura do controle deslizante */
    border-radius: 50%; /* Tornando o controle deslizante redondo */
    border: 3px solid #1f1f1f;
    background-image: radial-gradient(circle, #5d5d5d 30%, #303030 40%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra para dar destaque */
    cursor: pointer; /* Mostra o cursor de ponteiro */
    transition: 0.3s ease-in-out; /* Transição suave para a mudança de cor */
}

/* Estilizando o controle deslizante (thumb) no Internet Explorer */
input[type="range"]::-ms-thumb {
    width: 20px; /* Largura do controle deslizante */
    height: 20px; /* Altura do controle deslizante */
    border-radius: 50%; /* Tornando o controle deslizante redondo */
    border: 3px solid #1f1f1f;
    background-image: radial-gradient(circle, #5d5d5d 30%, #303030 40%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra para dar destaque */
    cursor: pointer; /* Mostra o cursor de ponteiro */
    transition:  0.3s ease-in-out; /* Transição suave para a mudança de cor */
}

/* Efeito quando o cursor passa sobre o controle deslizante (thumb) */
input[type="range"]:hover::-webkit-slider-thumb {
    background-image: radial-gradient(circle, #aaaaaa 30%, #303030 40%);
}

input[type="range"]:hover::-moz-range-thumb {
    background-image: radial-gradient(circle, #aaaaaa 30%, #303030 40%); /* Muda a cor do thumb no Firefox */
}

input[type="range"]:hover::-ms-thumb {
    background-image: radial-gradient(circle, #aaaaaa 30%, #303030 40%); /* Muda a cor do thumb no Internet Explorer */
}