:root{
    --cinza-1: #303030;
    --cinza-2: #5d5d5d;
    --cinza-3: #6d6d6d;
    --cinza-4: #7b7a7a;
    --cinza-5: #888888;
    --cinza-6: #949494;
    --cinza-7: #abaaaa;
    --branco: #ffffff;
}

#main{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#part_cima_produtos{
    display: flex;
    width: 900px;
    justify-content: space-between;
    z-index: 5;
    position: absolute;
}

#quantidade, #ordenar{
    color: var(--cinza-3);
}

#ordenar_produtos{
    border: 2px solid var(--cinza-3);
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

#seta_ordenar{
    width: 20px;
}

#formas_de_ordenar{
    display: none; /* Começa escondido */
}

#forma_ordenar{
    display: flex;
    flex-direction: column;
}

#button_ordenar{
    background-color: var(--branco);
    border: 1px solid var(--cinza-3);
    padding: 5px 10px;
    color: var(--cinza-1);
    font-size: 15px;
    text-align: left;
}

#button_ordenar:hover{
    background-color: var(--cinza-4);
    color: var(--branco);
    transition: 0.2s; 
}